html 
  head 
  body 
    h1 hoang 123
    link(rel="stylesheet", href="/home_10s.css")
    script(src="/home_8s.js") 
    link(rel="stylesheet", href="/home_5s.css")
    script(src="/home_5s.js") 
    h2 hoang 456